html{
    background-color: #83BCA9;
}
h1{
    margin-top: 5%;
    margin-left: 32%;
    font-size: 80px;
}
*{
    color: #282B28;
}
#msg-label{
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 32%;
    font-size: 40px;
}
#msg-input{
    margin-left: 30%;
    margin-top: 2%;
    width: 36%;
    height: 20%;
}
#Evaluate{
    margin-left:33.5%;
    margin-right:30%;
    margin-top: 2%;
    height: 25%;
    width: 30%;
    padding: 1%;
    font-size: 40px;
    background-color: #087F8C;
    border: none;
}
.confirm-settings{
    background-color: #087F8C;
    border: solid;
    color: black;
    position: fixed;
    width: 10%;
    height: 8%;
    margin-left: 2%;
}
#modal-results{
    display: none;
    height: 50%;
    width: 70%;
    z-index: 50;
    background-color: grey;
    position: fixed;
    left: 14%;
    top: 25%;
    opacity: 1;
}
#config{
    display: none;
    height: 60%;
    width: 70%;
    z-index: 50;
    background-color: grey;
    position: fixed;
    left: 14%;
    top: 25%;
    opacity: 1;
}
.close-btn{
    z-index: 10;
    position: fixed;
    left: 83%;
    top: 24%;
}
.bar{
    margin-top: 5%;
    margin-left: 3%;
    border: solid;
    width: fit-content;
}
#settings-btn{
    position: fixed;
    left: 95%;
    top: 2%;
}
.line{
    margin-top: 5%;
    margin-left: 3%;
    display: block;
}
.model{
    margin-left: 5%;
    width: max-content;
    display:inline-flex;
    font-size: 20px;
}
.epoch-num{
    margin-left: 3%;
    height: 5%;
    display: inline;
    margin-top: 0%;
}
.number-input{
    width: 4%;
    display: inline;
}
.add-hidden{
    margin-left: 3%;
    height: 5%;
    display: inline;
    margin-top: 0%;
}
.setting{
    margin-left: 3%;
    height: 5%;
    display: inline;
    margin-top: 0%;
}
.hidden-nodes{
    width: 4%;
    display: none;
}
.hidden-nodes-num{
    width: 4%;
    display: none;
    margin-left: 3%;
}
#btn-naive-bayes{
    position: block;
}
#btn-one-hot{
    position: block;
}
#btn-word2vec{
    position: block;
}